.container {
    height: 200px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

th,
td,
p,
input {
    font: 14px Verdana;
}

table,
th,
td {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: darkgrey !important;
}